* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
#menu {
  height: 100vh;
  width: 25vw;
  z-index: 5;
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  align-content: center;
  text-align: center;
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 900;
  mix-blend-mode: screen;
}
#info {
  margin: 0;
  height: 100vh;
  width: 75vw;
  position: absolute;
  left: 25%;
  top: 0;
  background-color: black;
}
#about {
  height: 100vh;
  width: 75vw;
  position: absolute;
  left: 25%;
  top: -100%;
  background-color: black;
  transition-duration: 1s;
}
#work {
  height: 100vh;
  width: 75vw;
  position: absolute;
  left: 25%;
  top: -100%;
  background-color: red;
  transition-duration: 1s;
}
#skills {
  height: 100vh;
  width: 75vw;
  position: absolute;
  left: 25%;
  top: -100%;
  background-color: rebeccapurple;
  transition-duration: 1s;
}
#projects {
  height: 100vh;
  width: 75vw;
  position: absolute;
  left: 25%;
  top: -100%;
  background-color: yellow;
  transition-duration: 1s;
}

#ham {
  display: none;
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 10;
}

#name {
  height: 10vh;
  text-align: center;
  font-size: 72px;
  font-family: sans-serif;
  padding: 30px;
  color: whitesmoke;
}

body,
body * {
  cursor: none;
}

.shapes {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: #000;
  overflow: hidden;
}
/*  */
.shape {
  will-change: transform;
  position: absolute;
  border-radius: 50%;
}
.shape.shape-1 {
  background: #005ffe;
  width: 200px;
  height: 200px;
  margin: -100px 0 0 -100px;
}
.shape.shape-2 {
  background: #e60e68c0;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
}
.shape.shape-3 {
  background: #f3f709;
  width: 50px;
  height: 50px;
  margin: -25px 0 0 -25px;
}

.cursor {
  position: fixed;
  background: #2128bd;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  border-radius: 50%;
  will-change: transform;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
}

::-moz-selection {
  color: #fff;
  background: #2128bd;
}

::selection {
  color: #fff;
  background: #2128bd;
}

.navmenu {
  font-size: 3rem;
  align-self: center;
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
